[submodule "jetsetter"]
	path = jetsetter
	url = https://github.com/RatnadeepSimhadri/jetsetter.git
[submodule "higherOrderComponents/basic-counter"]
	path = higherOrderComponents/basic-counter
	url = https://github.com/RatnadeepSimhadri/basic-counter.git
[submodule "higherOrderComponents/-f"]
	path = higherOrderComponents/-f
	url = https://github.com/RatnadeepSimhadri/basic-counter.git
[submodule "higherOrderComponents/--force"]
	path = higherOrderComponents/--force
	url = https://github.com/RatnadeepSimhadri/basic-counter.git
